<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    	<meta name="description" content="{% block description %}{% endblock %}">
    	<meta name="keywords" content="{% block keywords %}{% endblock %}">
    	<meta name="author" content="SeekerImpulse S.A.S">
        <title>{% block title %}{% endblock %}</title>
    	<link href="{{asset('css/metro.css')}}" rel="stylesheet">
    	<link href="{{asset('css/metro-icons.css')}}" rel="stylesheet">
   	 	<link href="{{asset('css/docs.css')}}" rel="stylesheet">
    	<link href="{{asset('css/my.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <script src="{{asset('js/jquery-2.1.3.min.js')}}"></script>
    	<script src="{{asset('js/metro.js')}}"></script>
    	<script src="{{asset('js/docs.js')}}"></script>
    	<script src="{{asset('js/prettify/run_prettify.js')}}"></script>
    	<script src="{{asset('js/ga.js')}}"></script>
    	<script src="{{asset('js/myJs.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {% block body %}
    {% block menu %}
<div class="app-bar" data-role="appbar">
	<a style="font-size: 1.2rem;" href="{{ path('index') }}"
		" class="app-bar-element branding"> 
		<img style="width: 2rem; margin-right: 0.5rem;" alt=""
		src="{{asset('images/logo.png')}}"> SeekerPlus
	</a> <span class="app-bar-pull"></span>
	<div class="app-bar-divider"></div>
	<ul class="app-bar-menu">
		<li data-flexorder="1" data-flexorderorigin="0"><a href=""><span class="mif-display"></span> App</a></li>
		<li data-flexorder="2" data-flexorderorigin="1"><a href="{{ path('servicios') }}"><span class="mif-tags"></span> Servicios</a></li>
		<li data-flexorder="3" data-flexorderorigin="2"><a href="{{ path('contactenos') }}"><span class="mif-contacts-mail"></span> Contactenos</a></li>
		<li data-flexorder="4" data-flexorderorigin="3"><a href=""><span class="mif-question"></span> Ayuda</a></li>
	</ul>
	<div class="app-bar-element">
		<a class="dropdown-toggle fg-white"><span class="mif-user"></span>
		Login
		</a>
		<div style="display: none;"
			class="app-bar-drop-container bg-white fg-dark place-right"
			data-role="dropdown" data-no-close="true">
			<div class="padding20">
				<form>
					<h4 class="text-light">Iniciar Sesión</h4>
					<div class="input-control text">
						<span class="mif-user prepend-icon"></span> <input type="text">
					</div>
					<div class="input-control text">
						<span class="mif-lock prepend-icon"></span> <input type="password">
					</div>
					<label class="input-control checkbox small-check"> <input
						type="checkbox"> <span class="check"></span> 
						<span class="caption">Recuerdame</span>
					</label>
					<div class="form-actions">
						<button class="button">Ingresar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer style="background-color: #323232;margin-top:3rem">
    <div class="container">
        <div class="padding20">
            <div class="grid responsive">
                <div class="row cells4">
                    <div class="fg-white  cell colspan2 padding20 no-padding-top no-padding-bottom">
                        <h1 class="padding10 text-shadow">Veloz, Sencillo y exacto !</h1>
                        <br>
                        <h4>Descárgala ahora:</h4>
                        <span style="font-size: 6rem;" class="mif-mobile"></span>
						   <a href="https://play.google.com/store/apps/details?id=com.seekerimpulse.SeekerPlus" target="_blank"><img style="margin-right: 0.5rem;" alt=""
										 src="{{asset('images/android.png')}}"
							></a>
                        <div class="bg-white bg-red fg-white padding10 align-center no-display" id="job">
                        </div>
                        <hr class="thin" style="margin-top: 20px">
                    </div>
                </div>
                <div class="fg-white row cells3">
                    <div class="cell">
                    	<h4 class="padding10 text-shadow">Social</h4>
                    	<ul style="list-style: outside none none;margin: 0px 30px 0px 0px;padding: 0px;float: left;">
                    		<li><a class="fg-white" href="https://www.facebook.com/seekerpluscolombia" target="_blank"><span class="mif-facebook"></span> Facebook</a></li>
                    		<li><a class="fg-white" href="https://twitter.com/seekerimpulse" target="_blank"><span class="mif-twitter"></span> Twitter</a></li>
                    		<li><a class="fg-white" href="https://instagram.com/seekerimpulse/" target="_blank"><span class="mif-image"></span> Instagram</a></li>
                    	</ul>
                    </div>
                    <div class="cell">
                    	<h4 class="fg-white padding10 text-shadow">Sobre Nosotros</h4>
                    	<ul style="list-style: outside none none;margin: 0px 30px 0px 0px;padding: 0px;float: left;">
                    		<li><span class="mif-users"></span> Nuestro Equipo</li>
                    	</ul>
                    </div>
                    <div class="cell">
                    	<h4 class="fg-white padding10 text-shadow">Legal</h4>
                    	<ul style="list-style: outside none none;margin: 0px 30px 0px 0px;padding: 0px;float: left;">
                    		<li><a class="fg-white" href="{{ path('condicionesDeUso') }}""><span class="mif-file-text"></span> Condiciones de uso</a></li>
                    		<li><a class="fg-white" href="{{ path('politicasDePrivacidad') }}""><span class="mif-security"></span> Política de privacidad</a></li>
                    	</ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fg-white align-center padding20 text-small">
            SeekerPlus ® es una marca registrada de SeekerImpulse S.A.S<br>
			Copyright © 2015 SeekerImpulse S.A.S Todos los derechos reservados.
		<a href="mailto:info@seekerimpulse.co">SeekerImpulse S.A.S</a>
        </div>
    </div>
</footer>
{% endblock %}
    </body>
{% endblock %}
</html>