{% extends '::base.html.twig' %} 
{% block title %} 
{{ banner.name }}
{% endblock %} 

{% block description %} 
{{ banner.description }}
{% endblock %} 

{% block keywords %} 

{% endblock %} 

{% block stylesheets %} 
{{ parent() }}
{% endblock %} 

{% block javascripts %} 
{{ parent() }} 
{% endblock %} 

{% block body %} 

	{% block menu %} 
		{{ parent() }} 
	{% endblock %}

	{% block content %} 
	<div class="container page-content fg-dark">
	<h1><span class="mif-event-available"></span> {{ banner.name }}</h1>
	    <div class="grid">
        <div class="row cells2">
            <div class="cell">
            	<img id="newImages" class="marginFrame" src="{{ url('index') }}../../{{ image }}" style="width: 30rem ! important;"> 
				<br><br><p>{{ banner.description }}</p>
            </div>
            <div class="cell">
	            <div class="align-center">
	            	<h3><span class="mif-alarm-on"></span> Expiración en</h3>
	                <div style="font-size: 1rem" class="countdown labels-top" data-role="countdown" data-days="{{ time.days }}" data-hours="{{ time.hours }}" data-minutes="{{ time.minutes }}" data-seconds="0" data-background-color="bg-green" data-divider-color="fg-dark" data-label-color="fg-gray"></div>
	            </div>
            </div>
        </div>
    </div>
	</div>
	</div>
	{% endblock %}
	{% block footer %} 
		{{ parent() }} 
	{% endblock %}
	
{% endblock %}
