<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="success" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
		<br>
		<a href="{{ path('fos_user_resetting_request') }}"><span class="mif-lock"></span>¿Olvidaste tu contraseña?</a> 
</div>
</div>

