{% extends '::base.html.twig' %} 
{% block title %} 
Mis Anuncios
{% endblock %} 

{% block description %} 

{% endblock %} 

{% block keywords %} 

{% endblock %} 
 {% block javascripts %}
 {{ parent() }}
{% endblock %}
{% block content %}
{{ parent() }}
<div class="container page-content fg-dark" style="padding: 0.5rem;">
<h1><span class="mif-file-text"></span> Mis Anuncios</h1>
<div class="cell">
	<div class="listview-outlook" data-role="listview">
		<div class="list-group ">
        	<span class="list-group-toggle">Anuncios</span>
        	 <div class="list-group-content">
		{% for field in ads %}
				<div class="list">
                   <div class="list-content">
                      <span class="list-title">{{ field.adHeadline|e }}</span>
                      <span class="list-subtitle">{{ field.adText|e }}</span>
                      <span class="list-remark"><span class="mif-phone"></span>{{ field.adPhone|e }}</span>
                      <span class="list-remark"><span class="mif-location"></span> {{ field.adAddress|e }}</span>
                      <span class="list-title"><span class="mif-earth"></span> {{ field.adLocation|e }}</span>
                      <span class="list-remark">Creado el    : {{ field.dateCreated|date('Y-m-d') }}</span>
                      <span class="list-remark">Valido Hasta : {{ field.expirationDate|date('Y-m-d') }}</span>
                      <span class="list-remark">Ultima Modificacion : {{ field.dateModified|date('Y-m-d') }}</span>
                      <span class="place-right" style="float: right; margin-top: -8rem;">		    
                      {% if field.images == 'noImages.jpg' %}
					    	<img id="newImages" class="marginFrame" src="{{asset('images/noImages.jpg')}}">
					  {% else %}
					    	<img id="newImages" class="marginFrame" src="{{asset('images/ids/')}}{{ field.id }}/{{ field.images }}">
					  {% endif %}</span>
                      <br>
     
                      	<label class="switch">
                      	{% if field.published == 1 %}
                            Publicado <input checked="" type="checkbox">
                        {% else %}
                            Despublicado <input  type="checkbox">
                        {% endif %}
                            <span class="check"></span>
                        </label>	
                    </div>
                 </div><br><br>
	     		<div class="treeview" data-role="treeview">
                <ul>
                 <li class="node active collapsed">
                         <span class="leaf"><span class="mif-tags"></span> Productos y/o Servicios</span>
                         <span class="node-toggle"></span>
                   <ul>
                   	<li>
			          <table class="table striped">
			          <tbody>
			          <thead>
			          <th></th>
			          <th></th>
			          <th></th>
			          </thead>
			              {% for product in field.getProducts %}
			                
			                <tr>
			                    <td style="width: 4rem ! important;">
							          {% if product.images == 'noImages.jpg' %}
									    	<img style="width: 5rem ! important; height: 5rem ! important;" class="marginFrame" src="{{asset('images/noImages.jpg')}}">
									  {% else %}
									    	<img style="width: 5rem ! important; height: 5rem ! important;" class="marginFrame" src="{{asset('images/ids/')}}{{ field.id }}/{{ product.images }}">
									  {% endif %}</span>
			                      	
								</td>
			                    <td>
			                    <h4>{{ product.name }}</h4>
			                    <span>{{ product.description }}</span>
			                  	</td>
			                  	<td style="width: 7rem;">
			                  	  <p>$ {{ product.price|number_format(0) }}</p>
			                  	</td>
			                  					            <td>
			                 <a href="{{ path('edit_product_ads', {'id': product.id}) }}"class="button warning"> Modificar</a>
 							 <br><a onclick="showMessageProductDeleteDialog('{{ product.id }}');" class="button alert"> Eliminar </a>
               				</td>
			                </tr>
			   <div data-role="dialog" id="{{ product.id }}" data-close-button="true" data-type="alert" data-windows-style="true">
					<div style="padding: 2rem;">
					  <h1>Eliminar Producto</h1>
					  <p>Esta a punto de eliminar el anuncio {{ product.name|e  }} , al eliminar el registro la informacion no se podra recuperar.
					  <p>
					      ¿ Esta seguro que desea eliminar el anuncio {{ product.name|e  }} ?.
					  </p>
					  <a href="{{ path('delete_product_ads', {'id': product.id}) }}" class="button fg-black"><span class="mif-warning"></span> Eliminar</a>
					</div>
				</div>
						 {% endfor %}        
			         		</tbody>
			         </table>
                   </li>
                  </ul>
               </li>
              </ul>
              </div>     
                <span>
                <a href="{{ path('new_ads_product', {'id': field.id}) }}"class="button success"><span class="mif-plus"></span> Agregar Producto</a>
                </span>
                
                <span class="list-subtitle" style="float: right; padding-top: 1rem; padding-bottom: 2rem;">
                 <a href="{{ path('edit_ads', {'id': field.id}) }}"class="button link"><span class="mif-mail"></span> Mensajes</a>
                 <a onclick="showMessageRenewDialog('p{{ field.id }}');" class="button primary">Renovar</a>
                 <a href="{{ path('edit_ads', {'id': field.id}) }}" class="button warning">Modificar</a>
                 <a onclick="showMessageDeleteDialog('{{ field.id }}');" class="button alert">Eliminar</a>
                </span><br><br><br><br>
                <div data-role="dialog" id="{{ field.id }}" data-close-button="true" data-type="alert" data-windows-style="true">
					<div style="padding: 2rem;">
					  <h1>Eliminar Anuncio</h1>
					  <p>Esta a punto de eliminar el anuncio {{ field.adHeadline|e  }} , al eliminar el registro la informacion no se podra recuperar.
					  <p>
					      ¿ Esta seguro que desea eliminar el anuncio {{ field.adHeadline|e  }} ?.
					  </p>
					  <a href="{{ path('delete_ads', {'id': field.id}) }}" class="button fg-black"><span class="mif-warning"></span> Eliminar</a>
					</div>
				</div> 
				<div data-role="dialog" id="p{{ field.id }}" data-close-button="true" class="success" data-windows-style="true">
					<div style="padding: 2rem;">
					  <h1>Renovar Anuncio</h1>
					  <p>Esta a punto de renovar el anuncio {{ field.adHeadline|e  }} , se agregara un año mas apartir de hoy.
					  <p>
					  <span class="caption">Acepto las <a class="fg-black" href="{{ path('condicionesDeUso') }}" target="_blank">Condiciones Del Servicio</a> y la <a class="fg-black" href="{{ path('politicasDePrivacidad') }}" target="_blank">	 Politica de Privacidad</a> de SeekerPlus</span>
					  </p>
					  <a href="{{ path('renew_ads', {'id': field.id}) }}" class="button fg-black"><span class="mif-alarm"></span> Aceptar</a>
					</div>
				</div>
		{% endfor %}
		    <br><br>
		    <a href="{{ path('new_ads') }}" class="button success"><span class="mif-plus"></span> Nuevo</a>
         	</div><br>
    	</div>

		<div class="list-group collapsed">
	    	<span class="list-group-toggle">Banners</span>
	        <div class="list-group-content">
	        	{% for field in banners %}
	        	<div class="list">
	            	<div class="list-content">
	                	<span class="list-title"><span class="place-right icon-flag-2 fg-red smaller"></span>{{ field.name }}</span>
	                    <span class="list-subtitle">
	                    <img id="newImages" class="marginFrame" src="{{ url('index') }}../../{{ field.params }}" style="width: 30rem ! important;"> 
	                    </span>
	                    <p>{{ field.description  }}</p><br><br>
	                    <label class="switch">
                      	{% if field.state == 1 %}
                            Publicado <input checked="" type="checkbox">
                        {% else %}
                            Expirado <input  type="checkbox">
                        {% endif %}
                            <span class="check"></span>
                        </label>
                        <span class="list-subtitle">Inicio   : {{ field.publishUp|date('Y-m-d') }}</span>
                        <span class="list-subtitle">Finaliza : {{ field.publishDown|date('Y-m-d') }}</span>
	                    <span class="list-remark">Impresiones</span>{{ field.impmade  }}
	                    <span class="list-remark">Clicks</span>{{ field.clicks }}<br>
	                </div>
	            </div>
	            <a href="{{ path('show_banner', {'id': field.id}) }}" class="button primary"><span class="mif-eye"></span> Ver</a>
	            <br><br>
                {% endfor %}
	        </div>
	    </div>
	</div>
</div>
<script type="text/javascript">
function showMessageDeleteDialog(id){
    var dialog = $("#"+id).data('dialog');
    dialog.open();
}

function showMessageProductDeleteDialog(id){
    var dialog = $("#"+id).data('dialog');
    dialog.open();
}

function showMessageRenewDialog(id){
    var dialog = $("#"+id).data('dialog');
    dialog.open();
}
</script>
</div>
</div>
{% endblock content %}